*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
__pycache__/
env/
labelImg/
darknet/
vcpkg/
fen_chess_data/chess-generator/
fen_chess_data/data/
venv310/
.vscode/
examples/
firebase_key.json
backend/api/fen_chess_data/data/*
!backend/api/fen_chess_data/data/.gitkeep
backend/api/fen_chess_data/predictions/*
!backend/api/fen_chess_data/predictions/.gitkeep